:root{
    --bg:#1e3c72;
    --card:white;
    --text:#333;
}

body.dark{
    --bg:#111;
    --card:#1f1f1f;
    --text:#eee;
}

body{
    margin:0;
    font-family:Arial;
    background:linear-gradient(135deg,var(--bg),#2a5298);
    color:white;
    transition:0.3s;
}

#modeToggle{
    position:fixed;
    top:15px;
    right:15px;
    padding:10px;
    border:none;
    border-radius:50%;
    cursor:pointer;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:15px 30px;
    background:rgba(0,0,0,0.4);
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.profile{
    width:140px;
    border-radius:50%;
    border:4px solid white;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 18px;
    background:#fff;
    color:#333;
    border-radius:20px;
    text-decoration:none;
}

.card{
    background:var(--card);
    color:var(--text);
    margin:25px auto;
    padding:25px;
    width:85%;
    max-width:900px;
    border-radius:15px;
}

/* PROJECT CARDS */
.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.project-card{
    background: var(--card);
    color: var(--text);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.project-card img{
    width:100%;
    border-radius:10px;
    margin-bottom:10px;
}

/* SCROLL ANIMATION */
.reveal{
    opacity:0;
    transform:translateY(60px);
    transition:all 0.8s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}
body.dark .project-card{
    background: #2a2a2a;
    color: #fff;
}